*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    
}

.resolution{
    width: 99%;
    text-align: center;
}

@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width:990px) {

}

@media (min-width: 991px) {
    
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.contenedor{
    max-width: 1000px;
    width: 100%;
    margin:0 auto;
    overflow: hidden;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form button[type="submit"] {
    padding: 8px;
    font-size: 16px;
    background-color: #f50aae;
    color: rgb(100, 100, 100);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 4px;
}

.logo {
    margin-left: 3px;
}

.logo a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 2px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 60vh !important;
    background: url(img/header.jpg) no-repeat center;
    background-size: cover;
}

#Inicio {
    background-color:#000000;
}

#loader {
    display: block;
    width: 84px;
    height: 84px;
    position: relative;
}

.loader:before , .loader:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #FFF;
    transform: translate(-50% , -100%)  scale(0);
    animation: push_401 2s infinite linear;
}

.loader:after {
    animation-delay: 1s;
}

@keyframes push_401 {
    0% , 50% {
    transform: translate(-50% , 0%)  scale(1)
}

    100% {
    transform: translate(-50%, -100%) scale(0)
}
}

.title {
    margin-bottom: 90px;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fffcfc;
background-image: linear-gradient(to right, rgb(248, 0, 103) 20%, rgb(147, 8, 160) 80%);

}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #ffffff;
    text-decoration: none;
    background: #9c27b0;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #1f1d1d
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #000000;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.plataformas{
    animation-play-state: running ;
}

.about {
    background: #171717;
}

.price {
    background: url(img/costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}

.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}

